*.xml
*.xls
*.xlsx
*.dta
*.docx
*.pdf
*.gph
*.csv
*.tsv
*.shp
*.cpg
*.prj
*.shx
*.shf
*.dbf
*.dta
*.ster
*.parquet
*.db
*.json
*.html
*.nc
*.xml
*.png
*.parquet
*.feather
*.rar
*.zip
*.m4a
*.mpeg
*.avi
*.mp3
*.mkv
*.mp4
*.pyc
*.gph
*.pdf
*.eps
*.jpg
*.log
*.jpg
*.ai
Outputs/*
*.jpg
